/* authStyles.module.css */

.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
  }
  
  .button {
    display: block;
    width: 200px;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
  }
  